html, body {
  background-color: transparent;
  display: flex;
  font-family: "e Enougha";
  font-size: 50vh;
  font-weight: 500;
  color: #001147;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

#timer {
  display: flex;
}

.display-none {
  display: none !important;
}
