body {
    text-align: center !important;
    font-family: Tahoma, sans-serif;
    margin: 0;
    touch-action: manipulation;
}

.top {
    font-size: 3vh;
    background-color: #006600;
    color: white;
    padding: 1.5vh 0;
    margin-bottom: auto;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    overflow: scroll;
}

.full-width {
    width: 100%;
}

.margin-div {
    width: 1.5vh;
}

#gameControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5vh;
    border-bottom: 0.1vh solid black;
}

#startPeriod {
    background-color: green;
    color: white;
}

#nextGame {
    background-color: lavender;
}

.hide {
    display: none !important;
}

.time-change-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.input-box {
    font-family: Tahoma, sans-serif;
    font-size: 3vh;
}

.time-input {
    width: 65%;
}

.unit-input {
    width: 35%;
}

#bringForward {
    background-color: greenyellow;
    min-width: 47%;
}

#delay {
    background-color: orange;
    min-width: 47%;
}

.time-entry {
    display: flex;
    flex-direction: row;
    margin: 1.5vh;
}

#sirenLoop {
    background-color: skyblue;
}

#siren {
    background-color: lightskyblue;
}

.pause-colour {
    background-color: yellow;
}

.play-colour {
    background-color: lime;
}

.restOf {
    font-size: 3vh;
}

/* .scoreControl {

} */

.teamNameLayout {
    display: flex;
}

.flex-row {
    display: flex;
}

.teamName {
    width: 50%;
    font-size: 3vh;
}

.plusRow {
    display: flex;
}

.button {
    margin: 1.5vh;
    padding: 1.5vh;
    border-radius: 3%;
}

.button:active {
    opacity: 60%;
}

.plusButton {
    background-color: green;
    color: white;
}

.takeRow {
    display: flex;
}

.takeButton {
    width: 25%;
    background-color: red;
}

.footer {
    background-color: #222222;
    display: flex;
}

.selected {
    background-color: #444444 !important;
}

.footer-item {
    border: 2px solid gray;
    padding: 1.5vh 0;
    color: white
}

.half-width {
    width: 50%
}