<html>
    <head>
        <!-- <link rel="stylesheet" href="extended_controller_style.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="./extended-controller-script.js"></script> -->
        <link rel="stylesheet" href="/static/css/extended_controller_style.css">
        <script src="//code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
        <script src="/static/js/extended-controller-script.js"></script>
    </head>
    <body>
        <div class="verticalContainer full-height">
            <div id="gameControlContainer" class="full-width">
                <div id="homeContainer" class="teamContainer verticalContainer">
                    <div id="homeNameHeader" class="nameHeader horizontalContainer">
                        <span class="homeName nameDisplay">{{ homeName }}</span>
                        <span>&nbsp;</span>
                        <span class="homeAbbreviation abbreviationDisplay">({{ homeAbbrev }})</span>
                    </div>
                    <div id="homeGoalsContainer" class="goalsContainer verticalContainer">
                        <span id="homeGoalsHeader" class="goalsFoulsHeader">GOALS</span>
                        <div id="homeGoalsRow" class="goalsRow horizontalContainer">
                            <div id="homeGoalTake" class="takeButton button">-</div>
                            <span id="homeGoals" class="goalFoulNumber">0</span>
                            <div id="homeGoalPlus" class="plusButton button">+</div>
                        </div>
                    </div>
                    <div id="homeFoulsContainer" class="foulsContainer verticalContainer">
                        <span id="homeFoulsHeader" class="goalsFoulsHeader">FOULS</span>
                        <div id="homeFoulsRow" class="foulsRow horizontalContainer">
                            <div id="homeFoulTake" class="takeButton button">-</div>
                            <span id="homeFouls" class="goalFoulNumber">0</span>
                            <div id="homeFoulPlus" class="plusButton button">+</div>
                        </div>
                    </div>
                </div>
                <div class="timerGameContainer verticalContainer">
                    <div id="timerControlHeader" class="nameHeader horizontalContainer hide">
                        <span id="timerControlName" class="nameDisplay">Timer & Game Setup</span>
                    </div>
                    <div class="timerContainer verticalContainer">
                        <span id="period" class="timer-header">Pre game</span>
                        <span id="timeout-header" class="timer-header hide">TIMEOUT</span>
                        <span id="timer">20:00</span>
                    </div>
                    <div class="timerControls verticalContainer">
                        <div id="pausePlay" class="button pause-colour">Pause</div>
                        <div id="startPeriod" class="button">Start Period</div>
                        <div id="timeout" class="button">Timeout (1:00)</div>
                        <div id="playSiren" class="button">Play Siren</div>
                        <div class="restartRow horizontalContainer">
                            <div id="restartGame" class="button half-width violet">Restart Game</div>
                            <div id="restartPeriod" class="button half-width violet">Restart Period</div>
                        </div>
                        <div class="moveGameRow horizontalContainer hide">
                            <div id="previousGame" class="button half-width violet">Previous Game</div>
                            <div id="nextGame" class="button half-width violet">Next Game</div>
                        </div>
                        <div class="movePeriodRow horizontalContainer">
                            <div id="previousPeriod" class="button half-width violet">Previous Period</div>
                            <div id="nextPeriod" class="button half-width violet">Next Period</div>
                        </div>
                    </div>
                </div>
                <div id="awayContainer" class="teamContainer verticalContainer">
                    <div id="awayNameHeader" class="nameHeader horizontalContainer">
                        <span class="awayName nameDisplay">{{ awayName }}</span>
                        <span>&nbsp;</span>
                        <span class="awayAbbreviation abbreviationDisplay">({{ awayAbbrev }})</span>
                    </div>
                    <div id="awayGoalsContainer" class="goalsContainer verticalContainer">
                        <span id="awayGoalsHeader" class="goalsFoulsHeader">GOALS</span>
                        <div id="awayGoalsRow" class="goalsRow horizontalContainer">
                            <div id="awayGoalTake" class="takeButton button">-</div>
                            <span id="awayGoals" class="goalFoulNumber">0</span>
                            <div id="awayGoalPlus" class="plusButton button">+</div>
                        </div>
                    </div>
                    <div id="awayFoulsContainer" class="foulsContainer verticalContainer">
                        <span id="awayFoulsHeader" class="goalsFoulsHeader">FOULS</span>
                        <div id="awayFoulsRow" class="foulsRow horizontalContainer">
                            <div id="awayFoulTake" class="takeButton button">-</div>
                            <span id="awayFouls" class="goalFoulNumber">0</span>
                            <div id="awayFoulPlus" class="plusButton button">+</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="configContainer" class="horizontalContainer full-width hide">
                <div id="homeConfigContainer" class="teamContainer">
                    <div id="homeNameHeader" class="nameHeader horizontalContainer">
                        <span class="homeName nameDisplay">{{ homeName }}</span>
                        <span>&nbsp;</span>
                        <span class="homeAbbreviation abbreviationDisplay">({{ homeAbbrev }})</span>
                    </div>
                    <div id="editHomeAttributes" class="teamAttributes verticalContainer">
                        <div id="homeNameRow" class="nameRow horizontalContainer">
                            <div id="editHomeNameButton" class="editNameButton half-width button">Update Name</div>
                            <input id="homeNameInput" class="nameInput input input-box half-width" type="text" placeholder="Enter Team Name">
                        </div>
                        <div id="homeAbbreviationRow" class="abbreviationRow horizontalContainer">
                            <div id="editHomeAbbreviationButton" class="editAbbreviationButton half-width button">Update Abbreviation</div>
                            <input id="homeAbbreviationInput" class="abbreviationInput input input-box half-width" type="text" placeholder="Enter Team Abbreviation">
                        </div>
                        <div id="homeColourRow" class="colourRow horizontalContainer">
                            <div id="editHomeColourButton" class="editColour half-width button">Update Colour</div>
                            <input id="homeColourInput" class="colourInput input input-box half-width" name="homeColour" type="color" value="#007700">
                        </div>
                        <div id="homeLogoRow" class="logoRow horizontalContainer">
                            <form id="homeLogoForm" class="logoRow horizontalContainer" method="post" enctype="multipart/form-data">
                                <button id="editHomeLogoButton" class="editLogo half-width button">Update Logo</button>
                                <input type="file" id="homeLogoInput" class="logoInput input input-box half-width" name="homeLogo" accept="image/*">
                            </form>
                        </div>  
                    </div>
                </div>
                <div id="gameConfigContainer" class="timerGameContainer">
                    <div id="timerControlHeader" class="nameHeader horizontalContainer">
                        <span id="timerControlName" class="nameDisplay">Timer & Game Setup</span>
                    </div>
                    <div id="delayRow" class="horizontalContainer full-width time-change-row">
                        <div id="addTime" class="button half-width">Add Time</div>
                        <div id="delay-entry" class="time-entry input half-width">
                            <input id="delay-time" type="number" max=120 class="time-input input-box">
                            <select id="delay-unit" class="unit-input input-box">
                                <option>s</option>
                                <option>m</option>
                                <option>h</option>
                            </select>
                        </div>
                    </div>
                    <div id="bringForwardRow" class="horizontalContainer full-width time-change-row">
                        <div id="takeTime" class="button half-width">Take Time</div>
                        <div id="bring-forward-entry" class="time-entry input half-width">
                            <input id="forwardTime" type="number" max=120 class="time-input input-box">
                            <select id="forwardUnit" class="unit-input input-box">
                                <option>s</option>
                                <option>m</option>
                                <option>h</option>
                            </select>
                        </div>
                    </div>      
                    <div class="setTimeRow horizontalContainer">
                        <div class="setTimeButton half-width button">Set Time</div>
                        <input class="setTimeInput input input-box half-width" type="text" placeholder="Enter Time">
                    </div>
                    <div class="setPeriodLengthRow horizontalContainer">
                        <div class="setPeriodLengthButton half-width button">Set Period Length</div>
                        <input class="setPeriodLengthInput input input-box half-width" type="text" placeholder="Enter Period Length">
                    </div>
                </div>
                <div id="awayConfigContainer" class="teamContainer">
                    <div id="awayNameHeader" class="nameHeader horizontalContainer">
                        <span class="awayName nameDisplay">{{ awayName }}</span>
                        <span>&nbsp;</span>
                        <span class="awayAbbreviation abbreviationDisplay">({{ awayAbbrev }})</span>
                    </div>
                    <div id="editAwayAttributes" class="teamAttributes verticalContainer">
                        <div id="awayNameRow" class="nameRow horizontalContainer">
                            <div id="editAwayNameButton" class="editNameButton half-width button">Update Name</div>
                            <input id="awayNameInput" class="nameInput input input-box half-width" type="text" placeholder="Enter Team Name">
                        </div>
                        <div id="awayAbbreviationRow" class="abbreviationRow horizontalContainer">
                            <div id="editAwayAbbreviationButton" class="editAbbreviationButton half-width button">Update Abbreviation</div>
                            <input id="awayAbbreviationInput" class="abbreviationInput input input-box half-width" type="text" placeholder="Enter Team Abbreviation">
                        </div>
                        <div id="awayColourRow" class="colourRow horizontalContainer">
                            <div id="editAwayColourButton" class="editColour half-width button">Update Colour</div>
                            <input id="awayColourInput" class="colourInput input input-box half-width" name="awayColour" type="color" value="#880088">
                        </div>
                        
                        <div id="awayLogoRow" class="logoRow horizontalContainer">
                            <form id="awayLogoForm" class="logoRow horizontalContainer" method="post" enctype="multipart/form-data">
                                <button id="editAwayLogoButton" class="editLogo half-width button">Update Logo</button>
                                <input type="file" id="awayLogoInput" class="logoInput input input-box half-width" name="awayLogo" accept="image/*">
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="footer full-width">
                <div id="gameControlsTab" class="footer-item half-width selected">Game Controls</div>
                <div id="gameConfigTab" class="footer-item half-width">Game Configuration</div>
            </div>
        </div>
    </body>
</html>