<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head> 
    <body>
        <div class="top-row row">
            <div class="competition-logo"></div>
        </div>
        <div class="middle-row row"></div>
            <div class="home-circle"></div>
            <div class="scoreboard">
                <div class="period">FIRST HALF</div>
                <div class="score">
                    <div class="home-score">0</div>
                    <div class="score-separator"> - </div>
                    <div class="away-score">0</div>
                </div>
                <div class="timer-fouls">
                    <div class="home-fouls">0</div>
                    <div class="timer">18:00</div>
                    <div class="away-fouls">0</div>
                </div>
            </div>
            <div class="away-circle"></div>
        <div class="bottom-row row"></div>
    </body>
</html>