<html>
<head>
  <!--<link rel="stylesheet" href="ticker-style.css">-->
  <link rel="stylesheet" href="/static/css/squadi-buzzer-style.css">
  <script src="//code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
  <script src="/static/js/squadi-buzzer-script.js"></script>
</head>
<body>
    <div id="mainContainer">
        <div>
            UNTIL NEXT GAME
        </div>
        <div>
            TIMER
        </div>
    </div>
</body>
</html>